@font-face {
  font-family: "press";
  src: url("./assets/fonts/font/Press_Start_2P/PressStart2P-Regular.ttf");
}
.NavButtons {
  height: 10%;
  width: 100%;
  border-right: 5px solid transparent !important;
  border-bottom: 0.1px solid gray !important;
  border-top: 0.1px solid gray !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "press";
  background-color: transparent;
  transition: background-color 0.3s ease; 
}

.NavButtons:hover {
  border-right-color: salmon !important; 
  background: linear-gradient(to right, salmon 50%, rgb(34, 34, 34) 50%);
  background-position: 100%;
}

.buttonBackground {
  background-color: salmon;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.nav {
  height: 750px;
  width: 10%;
  border-right: 4px solid black;
}
.Content {
  width: 90%;
  margin-left: 10%;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0075be;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.menu-icon {
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: #555;
  padding: 20px;
  border-radius: 100px;
  display: none;
}
@media (max-width: 1024px) {
  .nav {
    position: fixed !important;
    top: 0 !important;
    flex-direction: row !important;
    width: 100%;
    height: 10%;
    display: none;
  }
  .NavButtons {
    width: 15%;
    border: none !important;
    height: 100%;
    border-bottom: 5px solid transparent;
  }
  .NavButtons:hover {
    border-bottom: 5px solid salmon !important;
    border-right: none !important;
  }
  .links {
    flex-direction: row !important;
  }
  .Content {
    /* margin-top: 9%; */
    margin-left: 0;
    width: 100% !important;
  }
  .logoImage {
    display: none;
  }

  .menu-icon {
    z-index: 90;
    display: block;
  }
  .NavButtons {
    border: none;
    width: 100%;
  }
  .NavButtons:hover {
    background-color: transparent;
  }
}

.menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.447
  ); 
  z-index: 999; 
}

.menu-items {
  position: absolute;
  top: 50%;
  color: #f1f1f1;
  height: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transform: translate(-50%, -50%);
  width: 100%; /* Adjust as needed */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.511);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000; 
}
@media (max-width: 768px) {
  .menu-icon {
    padding: 10px;
  }
}
